[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopengl = "*"
pygame = "*"
shortuuid = "*"
pillow = "*"
numpy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
